checkpoints/jax/*
checkpoints/torch/*
checkpoints/torch_raw/*
!checkpoints/jax/.gitkeep
!checkpoints/torch/.gitkeep
!checkpoints/torch_raw/.gitkeep

__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
dist/
pytorch_eff_vis_pretraining.egg-info/*
