absl-py==0.10.0
chex==0.0.8
contextlib2==21.6.0
dill==0.3.4
dm-haiku==0.0.5
dm-tree==0.1.6
flatbuffers==2.0
greenlet==1.1.2
imageio==2.14.1
jax==0.2.20
jaxlib==0.1.75
jaxline==0.0.5
jmp==0.0.2
ml-collections==0.1.0
msgpack==1.0.3
neovim==0.3.1
networkx==2.6.3
numpy==1.22.1
opt-einsum==3.3.0
optax==0.1.0
packaging==21.3
Pillow==9.0.0
pynvim==0.4.3
pyparsing==3.0.7
PyWavelets==1.2.0
PyYAML==6.0
scikit-image==0.19.1
scipy==1.7.3
six==1.16.0
tabulate==0.8.9
tifffile==2021.11.2
toolz==0.11.2
torch==1.10.1
typing-extensions==3.10.0.2
wrapt==1.13.3
